<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <!--最终的遍历结构  假数据-->
    <table  border="1" width="100%">
        <tr v-for="(item,index) in test">
            <td >{{index===0 ? item.one : ''}}</td>
            <td>{{item.two}}</td>
            <td v-for="item2 in item.values">{{item2}}</td>
        </tr>
    </table>
    <hr>
    <!--最终的遍历结构  假数据-->
    <table border="1" width="100%">
        <tr>
            <td>"一般规格"</td>
            <td>"重量"</td>
            <td>value</td>
            <td>value</td>
            <td>value</td>
        </tr>
        <tr>
            <td></td>
            <td>"尺寸（宽 x 高 x 深）"</td>
            <td>value</td>
            <td>value</td>
            <td>value</td>
        </tr>
        <tr>
            <td></td>
            <td>"电源要求"</td>
            <td>value</td>
            <td>value</td>
            <td>value</td>
        </tr>
        <tr>
            <td>"镜头"</td>
            <td>"镜头接口"</td>
            <td>value</td>
            <td>value</td>
            <td>value</td>
        </tr>
        <tr>
            <td></td>
            <td>"镜头卡口"</td>
            <td>value</td>
            <td>value</td>
            <td>value</td>
        </tr>
        <tr>
            <td></td>
            <td>"焦距"</td>
            <td>value</td>
            <td>value</td>
            <td>value</td>
        </tr>
    </table>
</div>
<script src="vue.js"></script>
<script src="tets.js"></script>
<script>
    // 这是三个产品，他们的数据只有最后一层的value不一样，想要的结构就是下面的vue里面的数据格式
    var arr=obj.returnData.OutSpecCompare.outSkuSpec;  // 这是原始数据
    console.log(arr);
    //自己瞎搞的
/*    function MyArr(one,two,values) {
        this.one=one;
        this.two=two;
        this.values=values;
    }
    function createMyArr(one,two,values) {
        return new MyArr(one,two,values)
    }
    var myArr=[];
    for(var i=0;i<arr.length;i++){
//        console.log(arr[i].specLevelOnes);
        for(var j=0;j<arr[i].specLevelOnes.length;j++){
            for(var k=0;k<arr[i].specLevelOnes[j].specleveltwos.length;k++){
                var one=arr[i].specLevelOnes[j].cnName;
                var two=arr[i].specLevelOnes[j].specleveltwos[k].cnName;
                var value=arr[i].specLevelOnes[j].specleveltwos[k].value
//                console.log(arr[i].specLevelOnes[j].specleveltwos[k].value);
                console.log(I!==i);
                var I=i;
                myArr.push(new MyArr(one,two,value))
            }
        }
    }
    console.log(myArr);*/
    new Vue({
        el:'#app',
        data:{
            test:[  // 这是想要的数据格式，
                {
                    one:'一般规格',
                    two:'重量',
                    values:[1,2,3]
                },
                {
                    one:'一般规格',
                    two:'"尺寸（宽 x 高 x 深）"',
                    values:[11,22,33]
                }
            ]
        }
    })
</script>
</body>
</html>